<% layout ("/layouts/boilerplate") %>

<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center mt-3">SignUp On Wanderlust</h1>
        <form action="/signup" method="POST" novalidate class="needs-validation ">

            <div class="mb-3">
                <label for="username" class="form-label mt-3">Username</label>
                <input name="username" id="username" placeholder="Enter username" type="text" class="form-control"
                required>

                <div class="valid-feedback">Looks Good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label mt-3">Email</label>
                <input name="email" id="email" placeholder="Enter Email" type="text" class="form-control"
                required>

                <div class="valid-feedback">Looks Good!</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label mt-3">Password</label>
                <input name="password" id="password" placeholder="Enter password" type="password" class="form-control"
                required>

                <div class="valid-feedback">Looks Good!</div>
            </div>

            <button class="btn btn-success mt-2">SignUp</button>
        </form>
    </div>
</div>